.footer {
  padding: 32px 0;
  position: relative;
  background-image: url('../Images/footer-background.png');
  background-color: var(--color-primary-dark);
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;

  &::before,
  &::after {
    position: absolute;
    bottom: 0;
    background-repeat: no-repeat;
    content: '';
  }

  &::before {
    width: 92px;
    height: 196px;
    margin-top: 84px;
    top: 0;
    left: 0;
    background-image: url('../Images/mobile-bread-small.png');

    @media screen and (min-width: $bp-tablet) {
      width: 180px;
      height: 120px;
      left: 0;
      margin-top: 114px;
      background-image: url('../Images/decor-bread-small.png');
    }
  }

  &::after {
    width: 102px;
    height: 90px;
    right: 0;
    background-image: url('../Images/mobile-bread-large.png');

    @media screen and (min-width: $bp-tablet) {
      width: 370px;
      height: 190px;
      right: 0;
      top: auto;
      left: auto;
      background-image: url('../Images/decor-bread-large.png');
    }
  }

  &__container {
    display: flex;
    flex-direction: column;
    gap: 20px;

    @media screen and (min-width: $bp-tablet) {
      flex-direction: row;
    }
  }

  &__nav,
  &__address {
    display: flex;
    flex-direction: column;
    gap: 20px;
    text-align: center;

    @media screen and (min-width: $bp-tablet) {
      flex-direction: row;
      flex-basis: 50%;
      text-align: left;
    }
  }

  &__logo {
    flex-grow: 1;
  }

  &__menu {
    display: flex;
    flex-direction: column;
    flex-grow: 1;
    gap: 16px;
  }

  &__address-list,
  &__address-info {
    display: flex;
    flex-direction: column;
    flex-grow: 1;
    gap: 16px;
  }

  &__address-link {
    color: var(--color-primary-light);
    font-size: 16px;
    font-weight: 300;
    text-decoration: none;
  }

  &__address-link:hover {
    color: var(--color-brand-normal);
  }

  &__social {
    display: flex;
    justify-content: center;
    gap: 24px;
    margin-top: 16px;

    @media screen and (min-width: $bp-tablet) {
      justify-content: flex-start;
    }
  }

  &__address-icon {
    fill: var(--color-brand-light);
  }

  &__address-icon:hover {
    fill: var(--color-brand-normal);
  }

  &__adress-copyright {
    font-size: 14px;
    color: var(--color-secondary-dark);
  }
}
